@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;1,300&family=Quicksand:wght@300;400;500&display=swap');
body {
	margin: 0;
	font-family: 'Open Sans', sans-serif;
	font-family: 'Quicksand', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

:root {
	--primary-color: #00ddce;
	--secondary-color: #cb8ebc;
	--focus-color: #fab7e9;
}
:root * {
	outline-color: rgb(187, 187, 187);
	outline-offset: -1px;
}
