.popup {
	display: flex;
	flex-direction: column;
	line-height: normal;
}
.popup-details-header {
	line-height: 50px;
	color: #5e5159;
	margin: 0;
}
.popup-details-sub_header {
	color: #5e5159;
}
.popup ol {
	line-height: 20px;
	color: #5e5159;
}
