.button {
	border-radius: 2px;
	margin: 12px 0;
	border: 2px solid #5e5159;
	background-color: white;
	color: #5e5159;
	font-size: 20px;
	font-weight: 500;
	min-width: 100px;
	padding: 12px;
}

.button:active {
	box-shadow: 0px 0px 1px #5e5159;
}
.button:hover {
	background-color: #5e5159;
	color: white;
}
