.wrapper {
	position: fixed;
	z-index: 15;
	top: 0;
	height: 0;
	width: 100vw;
	height: 100vh;
	left: 0;
	bottom: 0;
	background-color: rgba(94, 81, 89, 0.9);
}

.wrapper.open {
	animation: open-wrapper 0.6s ease-in-out both;
}
.wrapper.close {
	animation: close-wrapper 0.6s ease-in-out both;
}

@keyframes open-wrapper {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
@keyframes close-wrapper {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

.card {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 300px;
	min-height: 400px;
	border-radius: 2px;
	padding: 24px;
	background-color: #fff;
	display: flex;
}

.form {
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
	flex-grow: 1;
}
.form-header {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	width: 100%;
}
.form-header h2 {
	font-size: 32px;
	font-weight: 400;
	color: #5e5159;
}
.form-discription {
	color: #5e5159;
}
.form-close {
	display: block;
	font-size: 22px;
	color: #5e5159;
}

.form-content {
	flex-grow: 1;
}

.form-field {
	border-radius: 2px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 40px;
	padding: 2px;
	margin: 10px 0;
	background-color: #b39bab;
	position: relative;
}

.form-content-label {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 40px;
	font-size: 22px;
	height: 100%;
	color: rgb(255, 255, 255);
}
.form-content-input {
	background: none;
	background-color: rgb(255, 255, 255);
	border: none;
	outline: none;
	font-size: 18px;
	flex: 1;
	height: 100%;
	padding-left: 16px;
	color: #5e5159;
}
.form-error {
	color: red;
}
.form-actions {
	width: 100%;
	display: flex;
	flex-direction: column;
}
.show-icon {
	position: absolute;
	right: 12px;
}

.regisler-link {
	color: #5e5159;
	text-decoration: underline;
	font-size: 10pt;
	margin-top: 8px;
	text-align: center;
	cursor: pointer;
	font-weight: 500;
}
